<nav class="absolute top-0 left-0 z-50 w-full py-10">
  <div
    class="flex flex-wrap justify-between mx-auto max-w-[1820px] px-5 gap-5 items-center"
  >
    <div class="inline-flex items-center gap-10">
      <a href="home">
        <img src="assets/logos/code4code.svg" alt="" />
      </a>
      @if ((url$ | async) !== '/home'){
      <ul class="hidden gap-8 mb-0 list-none lg:inline-flex">
        <li class="mb-0">
          <a
            class="transition hover:text-custom-green"
            [ngClass]="
              (url$ | async) === '/authoring-page' ? 'text-custom-green' : ''
            "
            routerLink="authoring-page"
            >Authoring tool</a
          >
        </li>
        <li class="mb-0">
          <a
            class="transition hover:text-custom-green"
            [ngClass]="
              (url$ | async) === 'learn-js-python-page'
                ? 'text-custom-green'
                : ''
            "
            routerLink="learn-js-python-page"
            >Javascript + Python</a
          >
        </li>
      </ul>
      }
    </div>

    <div class="items-center hidden gap-4 lg:inline-flex">
      <a
        class="transition hover:text-custom-green cursor-pointer"
        routerLink="/home/pricing"
        >Pricing</a
      >
      @if(!(loggedIn$ | async)) {
      <asl-google-signin-button type="standard" size="large">
      </asl-google-signin-button>
      } @else {
      <div class="relative group items-center flex space-x-2">
        <img
          class="w-10 h-10 rounded-full"
          src="{{ photoUrl$ | async }}"
          alt=""
        />
        <div>{{ name$ | async }}</div>
      </div>
      }
    </div>

    <!-- Burger Icon -->
    <app-ui-burger-icon class="lg:hidden"></app-ui-burger-icon>

    <!-- Mobile Devices Menu -->
    <ul
      class="z-[999] text-center fixed top-0 flex flex-col flex-wrap items-center justify-center w-screen h-screen gap-7 mb-0 list-none transition-all -right-[120%] lg:hidden bg-custom-gray-800"
      id="mobile-menu"
    >
      <!-- Burger Close Icon -->
      <app-ui-burger-icon-close></app-ui-burger-icon-close>

      <li class="mb-0 text-[25px]">
        <a href="" class="transition hover:text-custom-green">Home</a>
      </li>
      <li class="relative mb-0 group parent-menu" aria-expanded="false">
        <a class="cursor-pointer transition hover:text-custom-green text-[25px]"
          >Products</a
        >
        <ul
          class="flex flex-col gap-2 py-0 mb-0 overflow-hidden list-none transition-all opacity-0 sub-menu max-h-0"
        >
          <li class="mb-0">
            <a href="" class="transition hover:text-custom-green">Number 1</a>
          </li>
          <li class="mb-0">
            <a href="" class="transition hover:text-custom-green">Number 2</a>
          </li>
          <li class="mb-0">
            <a href="" class="transition hover:text-custom-green">Number 3</a>
          </li>
        </ul>
      </li>
      <li class="mb-0">
        <a href="" class="transition hover:text-custom-green text-[25px]"
          >Tools</a
        >
      </li>
      <li class="mb-0">
        <a href="" class="button button-outline button-video group">
          <div
            class="absolute inset-0 -z-[10] invisible opacity-0 transition-all group-hover:visible group-hover:opacity-100"
          >
            <div class="relative h-full overflow-hidden">
              <video
                class="absolute object-cover w-full h-full -z-[10]"
                muted
                playsinline
                autoplay
                loop
              >
                <source src="assets/videos/button.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
          Try the demo
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.40381 15.5987L7.06787 14.2862L12.3179 9.03619H0.903809V7.16119H12.3179L7.06787 1.91119L8.40381 0.598694L15.9038 8.09869L8.40381 15.5987Z"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
